 <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6 centerpiece">
    <img src="/images/centerpiece.png" alt="" class="img-responsive">
  </div>
  <div class="col-md-3">
    
      <div class="row">

        <div class="col-md-6 logotip">
          <img src="/images/logotip.png"  class="pull-left" alt="">
        </div>

        <div class="col-md-6 blog-bg">
          <img src="/images/blog_bg.png" class="pull-right" alt="">
          <p class="pull-right counter">{{site.posts.size}}</p>
        </div>

       <!-- KRAJ .col-md-6 logotip -->
      </div>

  
  <!-- KRAJ .col-md-3 -->
  </div>


    <!-- KRAJ .row -->
  </div>
