<!DOCTYPE html>
<html>

  {% include head.html %}

<body>


<div class="container-fluid">
  
  <div class="row">

    <div class="col-md-12 header">
      
     <a href="#menu" class="contacts"></a>

    <!-- KRAJ .col-md-12 .header -->

        
    </div>

    <!-- KRAJ .row -->
  </div>



 <!-- nalazi se content u index.html fajlu -->
 {{content}}



<!-- ODAVDJE -->

<div class="row fotter">

   <div class="col-md-3"></div>
   <div class="col-md-3"></div>
   <div class="col-md-3"></div>
   <div class="col-md-3 hosting"><a href="https://github.com/"><img src="/images/github_logo.png" class="pull-right" alt=""></a><p class="pull-right hosted-on" >hosted by</p></div>

<!-- KRAJ .row .fotter -->
</div>


  <!-- KRAJ .container-fluid -->
</div>



<nav id="menu">
    <ul >
      <li><a href="/">Home</a></li>
      
      <li>
        <span><a href="/about">About me</a></span>
      </li>

      <li>
        <span>My work</span>
         <ul >
           <li><span>Mechanical engineering</span></li>
           <li><span>Application development</span></li>
         </ul>
      </li>

      <li>
       <span>Find me on</span>
       <ul>
           <li><span>Facebook</span></li>
           <li><span><a href="https://twitter.com/Tnedich" target="_blank">Twitter</a></span></li>
           <li><span><a href="https://github.com/tnedich" taget="_blank">GitHub</a></span></li>
           <li><span><a href="http://ba.linkedin.com/pub/davor-nedic/27/a22/241" target="_blank">LinkedIn</a></span></li>
         </ul>
      </li>

      <li>
       <span><a href="/cv">My CV</a></span>
      </li>
      
    </ul>
    </nav>



  {% include footer.html %}
</body>
</html>
