<!DOCTYPE html>
<html>

  {% include head.html %}

<body>


<div class="container-fluid">
  
  <div class="row">

    <div class="col-md-12 header">
      
     <a href="#menu" class="contacts"></a>

    <!-- KRAJ .col-md-12 .header -->

        
    </div>

    <!-- KRAJ .row -->
  </div>


  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6 centerpiece">
    <img src="/images/centerpiece.png" alt="" class="img-responsive">
  </div>
  <div class="col-md-3">
    
      <div class="row">

        <div class="col-md-6 logotip">
          <img src="/images/logotip.png"  class="pull-left" alt="">
        </div>

        <div class="col-md-6 blog-bg">
          <img src="/images/blog_bg.png" class="pull-right" alt="">
        </div>

       <!-- KRAJ .col-md-6 logotip -->
      </div>

  
  <!-- KRAJ .col-md-3 -->
  </div>


    <!-- KRAJ .row -->
  </div>


 <!-- nalazi se content u index.html fajlu -->
 {{content}}



<!-- ODAVDJE -->

<div class="row fotter">

   <div class="col-md-3"></div>
   <div class="col-md-3"></div>
   <div class="col-md-3"></div>
   <div class="col-md-3 hosting"><img src="images/github_logo.png" class="pull-right" alt=""><p class="pull-right hosted-on" >hosted on</p></div>

<!-- KRAJ .row .fotter -->
</div>


  <!-- KRAJ .container-fluid -->
</div>



<nav id="menu">
    <ul >
      <li>
        <span>About me</span>
      </li>
      
      <li>
        <span>My work</span>
         <ul >
           <li><span>Mechanical engineering</span></li>
           <li><span>Application development</span></li>
         </ul>
      </li>

      <li>
       <span>Find me on</span>
       <ul>
           <li><span>Facebook</span></li>
           <li><span>Twitter</span></li>
           <li><span>GitHub</span></li>
           <li><span>LinkedIn</span></li>
         </ul>
      </li>

      <li>
       <span>My CV</span>
       <ul>
           <li><span>Mechanical engineering</span></li>
           <li><span>Application development</span></li>
          
         </ul>
      </li>
      
    </ul>
    </nav>



  {% include footer.html %}
</body>
</html>